.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App label {
  display: block;
}

.App input.input-value:hover {
  border: 1px solid #3498db;
}

.App input.input-value {
  max-width: 25rem;
  width: 100%;
}

.App input.submit-action{
  display: block;
  width: 6rem;
  margin: 2rem auto;
  cursor: pointer;
  background-color: #34abeb;
  border: none;
  border-radius: 5%;
  height: 1.5rem;
}

form {
  max-width: 25rem;
}

.form-wrapper {
  margin-left: 2rem;
  max-width: 30rem;
  flex: 1;
}

div.message-box {
  width: 40%;
  margin-left: 2rem;
  margin-right: 5rem;
  min-height: 8rem;
  background-color: lightgray;
  color: black;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

div.message-box-header{
width: 100%;
border-bottom: 3px gray solid;
text-transform: uppercase ;
}

div.content-wrapper {
  display: flex;
}

.loader-container {
  width: 10%;
  margin: auto;
}